<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.arm.pann.mapper.CommentMapper">
	<!-- 댓글 생성 -->
	<insert id="insert">
		insert into tbl_comments(cno,bno,comments,commenter)
		values(seq_comments.nextval,
		#{bno},#{comments}, #{commenter})
	</insert>
	
<!-- 댓글 읽기 -->
	<select id="read" resultType="org.arm.pann.domain.CommentsDTO">
		select * from tbl_comments where cno = #{cno}
	</select>
	
	<!-- 댓글 수정 -->
	<update id="update">
		update tbl_comments set
		comments =#{comments},commentUpdate=sysdate
		where cno =#{cno}

	</update>
	<!-- 댓글 삭제 -->
	<delete id="delete">
		delete from tbl_comments where cno = #{cno}
	</delete>
	
	<!-- 댓글 페이징 -->
	<select id="listPaging"
		resultType="org.arm.pann.domain.CommentsDTO">
		
		select cno,bno,comments,commenter,commentDate,commentUpDate from
		tbl_comments where bno =#{bno} order by cno asc
		
	</select>

	
	
</mapper>